

        /* * is known as Universal Selector which works on every element. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

body, html{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 100px;
    width: 100px;
    z-index: 9;
    background-color: rgba(213, 201, 201, 0.184);
    position: fixed;
    border-radius: 50%;
    filter: blur(30px);
}
#nav img{
    height: 62px;
    border-radius: 15px;
    object-fit: cover;
}

#nav{
    height: 140px;
    width: 100%;
    padding: 0 100px;
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    z-index: 99;
}
#nav h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
#nav h4:hover{
    color: rgb(213, 204, 204);
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
}
#page1{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 54px;
    width: 55%;
    font-weight: 600;
}
#page1 h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    position: relative;
    font-weight: 600;
    text-shadow: 4px 4px 8px  rgb(0, 0, 0);
}

#page1 h2::before{
    content: "WELCOME TO THE FRESH BEANS COFFEE";
    position: absolute;
    color: black;
    font-weight:900;
    top: -2px;
    left: -2px;
    z-index: -1;
}

#page2{
    height: 200vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    
}
.offers{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 50px;
}
.offers img{
    height: 550px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 8px 2px 40px black;
    transition: all 0.3s;
   
}
.offers img:hover{
    height: 562px;
    width: 512px;
    transform: rotate3d(1,0,1,20deg);
}
.Order{
    height: 50px;
    width: 140px;
    border-radius: 14px;
    color: black;
    font-size: 18px;
    position: relative;
    top: 100px;
    border: none;
    transition: all 0.3s;
}
.Order:hover{
    background: #7F6852  ;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}
.offers span{
    position: relative;
    bottom: 40px;
    text-align: center;
    width: 80%;
    font-size: 30px;
    padding: 0px 50px;
}
.offers span h2{
    color: black;
    font-weight: 400;
    line-height: 60px;

}
.second-offers{
    flex-direction: row-reverse;
}
.second-offers h2{
    font-size: 39px;
    position: relative;
    right: 45px;
}
.second-offers .Order{
    top: 80px;
    right: 25px;
}

.Deals{
    width: 100%;
    height: 135vh;
    text-align: center;
}
.Deals h1{
    width: 600px;
    font-size: 54px;
    color: black;
    position: relative;
    top: 45px;
    left: 30%;
    text-align: center;
}
#deals-img{
    width: 550px;
    height: 850px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    top: 80px;
    display: flex;
    overflow: hidden;
}
#deals-img img{
    padding-left: 50px;
    gap: 20px;
    height: 650px;
    width: 500px;
    display: inline-block; 
    animation:  slide 10s  infinite ;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-200%);
    }
}
#page3{
    height: 140vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    
}

.home-reads{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 50px;
}
.home-reads img{
    height: 350px;
    width: 550px;
    border-radius: 12px;
}

.home-reads span{
    position: relative;
    bottom: 10px;
    text-align: justify;
}

.home-reads span h1{
    font-size: 38px;
    margin-bottom: 15px;
    color: black;
}
.home-reads span p{
    font-size: 18px;
    margin-top: 15px;
    width: 85%;
    line-height: 28px;
    color: black;
}
.second-read{
    flex-direction: row-reverse;
}
.reading{
    height: 45px;
    width: 130px;
    border-radius: 14px;
    color: black;
    font-size: 16px;
    position: relative;
    top: 30px;
    border: none;
    transition: all 0.3s;
}
.reading:hover{
    background: #7F6852  ;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}
.about-us{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 75px;
}
.about-us img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 12px;
}
.about-us-text{
    text-align: center;
    width: 50%;
    height: 220px;
    
}
.about-us-text h3{
    font-size: 54px;
    font-weight: 900;
    color: black;
}
.about-us-text p{
    margin-top: 25px;
    line-height: 28px;
    font-size: 18px;
    color: black;
}
.empty{
    height: 80vh;
}
footer{
    min-width: 250px;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 250px;
    gap: 300px;
    background-color: #bc835c;
}
#footer-logo{
    height: 92px;
    border-radius: 16px;
    object-fit: cover;
}
footer .social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .social-media h4{
    font-size: 20px;
    font-weight: 900;
    color: black;
}
footer span{
    text-align: center;
    height: 80px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
footer span img{
    height: 32px;
    margin: auto;
    border-radius: 50%;
}
footer span img:hover{
    border: 3px solid #6d462c;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    
}

.login-page{
    width: 100%;
    height: 120vh;
    background-color: #bc835c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.login-page h1{
    color: black;
    position: relative;
    buttons;
}
.login-box{
    position: relative;
    top: 80px;
    width: 550px;
    height: 80vh;
    background-color: #E5DAC2;
    border-radius: 14px;
}
.login-box a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    float: left;
    padding: 0px 80px;
}
.login-box a:hover{
    text-decoration: underline;
    color:#bc835c;
    font-size: 18px;
}
.first-page{
    display: block;
}
.first-page #sign-up-btn{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    float: left;
    padding: 0px 80px;
}
.first-page #sign-up-btn:hover{
    text-decoration: underline;
    color:#bc835c;
    font-size: 18px;
    cursor: pointer;
}
.user-info{
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.user-info p{
    margin-top: 50px;
    margin-right: 200px;
    color: black;
}
.user-info input{
    width: 375px;
    height: 50px;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 0px 12px;
    box-shadow: 2px 2px 12px #000;
}
.user-info input:focus{
    border: 1px solid #7F6852;
}
.buttons a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.buttons a:hover{
    text-decoration: underline;
    color:#bc835c;
    font-size: 20px;
}
.buttons p{
    text-align: justify;
    position: relative;
    bottom: 25px;
    right: 25px;
    width: max-content;
    height: 25px;
    color: #000;
}

.login-box .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 80px;
}
.buttons button{
    background-color: #ffffff;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 14px;
    width: 115px;
    height: 50px;
    position: relative;
    top: 30px;
    transition: all 0.3s;
}
.buttons button:hover{
    background: #7F6852  ;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}
.new-user-info{
    /* background-color: red; */
    display: none;
    height: 75vh;
}
.new-user-info p{
    text-align: center;
    color: rgb(70, 69, 69);
    width: 100%;
    padding: 15px 10px;
}
.user-details{
    position: relative;
    top: 35px;
    /* background-color: green; */
    color: #000;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 20px;
}
.user-details label{
    font-size: 22px;
    color: black;
}
.user-details input{
    width: 250px;
    height: 50px;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 0px 12px;
    box-shadow: 2px 2px 12px #000;
}
.label1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
    width: 95%;
    height: 70px;
    /* background-color: #E5DAC2; */
    gap: 130px;
}
.label2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
    width: 95%;
    gap: 10px;
    height: 90px;
    /* background-color: #ffffff; */
}
.label3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
    width: 95%;
    gap: 40px;
    height: 90px;
    /* background-color: #20c89e; */
}
.user-details p{
    position: relative;
    width: 45%;
    text-align: left;
    bottom: 55px;
    right: 125px;
    color: black;
    font-size: 11px;
    /* background-color: blue; */
}
.user-details button{
    background-color: #ffffff;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 14px;
    width: 115px;
    height: 50px;
    bottom: 35px;
    position: relative;
    transition: all 0.3s;
}
.user-details button:hover{
    background: #7F6852  ;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}
.user-details .backbtn{
    font-size: 16px;
}
.user-details .backbtn:hover{
    color: #bc835c;
    cursor: pointer;
    text-decoration: underline;
}


#nav.links h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.make-meal{
    width: 100%;
    height: 130vh;
    background-color: #bc835c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.make-meal #checkout{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #000;
    border: none;
    border-radius: 14px;
    transition: all 0.1s ease-in;
}
.make-meal #checkout:hover{
    box-shadow: 2px 2px 10px black;
    background-color: #6d462c;
    color: white;
    cursor: pointer;
}
.make-meal a{
    position: relative;
    bottom: 5%;
}
.make-meal h2{
    position: relative;
    top: 14%;
    font-size: 42px;
    color: #000;
    font-weight: 400;
}
.make-meal p{
    position: relative;
    top: 16%;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.meal-area{
    width: 85vw;
    height: 80vh;
    background-color: #E5DAC2;
    margin: 12% 0 auto;
    position: relative;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.meals{
    width: 70%;
    height: 520px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
}
.meal-items{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 95%;
    gap: 25px;
    /* background-color: #bc835c; */
}
.meal-items h4{
    font-size: 24px;
    color: #000;
    font-weight: 500;
}
.meal-items span{
    color: #6d462c;
    font-weight: 600;
}
.meal-items img{
    border: none;
    border-radius: 14px;
    box-shadow: 0px 2px 4px black;
    cursor: grab;
}
.meal-items img:hover{
    box-shadow: 0px 6px 12px black;
}
.second-meal{
    gap: 150px
}
.second-meal{
    gap: 150px
}
.third-meal{
    gap: 150px
}
.fourth-meal{
    gap: 300px
}
.theLine{
    width: 2px;
    height: 500px;
    background-color: #000;
}
.box-area{
    width: 45%;
    height: 550px;
    /* background-color: lavender; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.container{
    width: 95%;
    height: 420px;
    /* background-color: #bc835c; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.container .item{
    width: 160px;
    height: 130px;
    border: 1px solid black;
    border-radius: 14px;
    object-fit: fill;
    padding: 15px 10px;
    /* background-color: cadetblue; */
}
.container .item img{
    border: none;
    border-radius: 14px;
    box-shadow: 0px 2px 4px black;
}
.box-area button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #000;
    border: none;
    border-radius: 14px;
    transition: all 0.1s ease-in;
}
.box-area button:hover{
    box-shadow: 2px 2px 10px black;
    background-color: #6d462c;
    color: white;
    cursor: pointer;
}
.box-area p{
    color: #000;
    font-size: 20px;

}
